src/test/tests.rest
src/functions/__azurite_db_blob__.json
src/functions/__azurite_db_blob_extent__.json
src/functions/__azurite_db_queue__.json
src/functions/__azurite_db_queue_extent__.json
src/functions/__azurite_db_table__.json
src/functions/__blobstorage__/*
src/functions/__queuestorage__/*
logic/__*.json
logic/__queuestorage__/*
logic/__blobstorage__/*
logic/.vscode/*
/.vs/integration-demo/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/integration-demo/v17/.wsuo
